.parallaxAbout img {
    top: 100px !important;
    width: 100% !important;
    height: 536px !important;
    position: absolute !important;
    left: 50% !important;
}

.parallax {
    height: 440px;
    top: 0
}

.parallaxHeight {
    height: 363px
}

.parallaxHome img {
    top: 0 !important;
    width: 100% !important;
    height: 536px !important;
    position: absolute !important;
    left: 50% !important;
}

.profile-image img {
    top: 0 !important;
    height: 1150px !important;
    position: absolute !important;
    left: -74% !important;
}

.AboutHeader-parallax-149 {
    top: 0px !important;
    height: 326px !important;
}

@media (max-width: 768px) {
    .AboutHeader-parallax-149 {
        top: 0;
        height: 271px !important;
    }
    /* img {
        top: 117px !important;
        height: 267px !important;
    } */
}

@media (max-width: 414px) {
    .parallaxHeight {
        height: 210px !important
    }
    .parallaxHome img {
        height: 387px !important;
    }
    .profile-image {
        width: 87% !important;
        height: 121px !important;
        max-width: 87% !important;
        object-fit: cover !important;
        text-align: center !important;
        border-radius: 20% !important;
        float: inline-end !important;
        margin-right: 1.5rem !important;
    }
}

@media (max-width: 375px) {
    .parallaxHeight {
        height: 210px !important
    }
    .parallaxHome img {
        height: 387px !important;
    }
    .profile-image {
        width: 87% !important;
        height: 121px !important;
        max-width: 87% !important;
        object-fit: cover !important;
        text-align: center !important;
        border-radius: 20% !important;
        float: inline-end !important;
        margin-right: 1.5rem !important;
    }
}

@media (max-width: 320px) {
    .profile-image {
        width: 84% !important;
        height: 121px !important;
        max-width: 87% !important;
    }
}

@media (max-width: 256px) {
    .profile-image {
        margin-right: 1rem !important;
        width: 87% !important;
    }
}

.MuiContainer-root {
    background-color: #fff !important;
}

br {
    background-color: #fff !important;
}


/*@media (max-width: 700px) {
.AboutHeader-parallax-149 {
    top: 0;
    height: 254px !important;
}
img {
    top: 118px !important;
    height: 243px !important;
}
} */

@media (max-width: 748px) {
    .parallax {
        height: 322px;
        top: 0;
    }
    .parallaxAbout img {
        top: 114px !important;
        width: 100% !important;
        height: 382px !important;
        position: absolute !important;
        left: 50% !important;
    }
}

@media (max-width: 690px) {
    .AboutHeader-parallax-149 {
        top: 0;
        height: 297px !important;
    }
    /* img {
        top: 118px !important;
        height: 243px !important;
    } */
}

@media (max-width: 630px) {
    .AboutHeader-parallax-149 {
        top: 0;
        height: 297px !important;
    }
    /* img {
        top: 114px !important;
        height: 243px !important;
    } */
}